@model IEnumerable<LEMS.Models.Branch>
@{
    ViewData["Title"] = "Index";
}
<div class="card">

    <div class="card-header d-flex justify-content-between align-items-center" style="border-bottom-width: thin; border-color: rgb(45, 108, 162) ">
        <h4 class="card-text mb-0">List of Branches</h4>
        <a class="btn btn-outline-success" asp-action="Create">
            <i class="fa fa-plus me-1"></i>Add New
        </a>
    </div>

    <div class="card-body p-0">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>

                        <td class="text-end">
                            <div class="dropdown">
                                <button class="btn btn-sm text-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-list fa-lg"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                                    <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a></li>
                                    <li><a class="dropdown-item text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>